.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;

}

.form-container input {
    margin: 10px 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid rgb(164, 163, 163);
    border-radius: 5px;
    box-sizing: border-box;
}

#register-btn {
    border: 1px solid rgb(164, 163, 163);
    border-radius: 5px;
    background-color: rgb(16, 175, 101);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
}

.form-container p {
    color: rgb(115, 107, 120);
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(233, 243, 243);
}

.register-link {
    text-decoration: none;
    color: blue;

}

#successText {
    color: rgb(29, 184, 68);
    text-align: center;
}

#errorText {
    color: rgb(209, 8, 8);
    text-align: center;
}