#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.header-content a {
    padding: 5px 10px;
    margin: 5px 10px;
    text-decoration: none;

}

#signInOut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;

}

#loggedOutBtn {
    /* background-color: rgb(238, 147, 49); */
    color: rgb(46, 214, 133);
    border-radius: 2px;
    padding: 1px 3px;

    /* border: 1px solid rgb(36, 35, 36); */
}

#loggedOutBtn {
    /* background-color: rgb(238, 147, 49); */
    color: rgb(46, 214, 133);
    border-radius: 2px;
    padding: 1px 3px;

    border: 1px solid rgb(36, 35, 36);
}

#loggedInBtn {

    border: 1px solid rgb(36, 35, 36);
}

#userEmail {
    background-color: rgb(237, 240, 240);
    border-radius: 2px;
    padding: 1px 3px;
    color: cadetblue;
}

#image-url {
    /* background-color: rgb(48, 236, 236); */
    color: cadetblue;
    padding: 3px;
    border-radius: 50%;
}

.logo-container {

    color: rgb(19, 194, 113);
    font: bold;
    font-size: 1.25 rem;
    text-shadow: cadetblue;
}