.footer {
    max-width: 1280px;
    margin: 10px auto;
    background-color: #1a1919;
    padding: 5px 0;
    color: rgb(46, 214, 133);
    position: relative;
    width: 100%;
}

.footer-body {
    text-align: center;
    color: #505050;
}

.footer-links a {
    margin: 0 2rem;
    color: rgb(46, 214, 133);
}

.footer-text {
    font-size: 18px;
}

.footer-links a {
    color: rgb(46, 214, 133);
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    color: #ffffff;
}

.footer-social li {
    display: inline-block;
    margin-right: 20px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

.footer-social a:hover {
    color: #f0ad4e;
}

.footer-credit {
    font-size: 14px;
    text-align: right;
}

#copy-right {
    color: #e8e6e6;
}

@media only screen and (max-width: 767px) {
    .footer {
        padding: 1.5rem 0;
    }
}

@media only screen and (max-width: 576px) {
    .footer {
        padding: 2rem 0;
    }
}

@media only screen and (min-width: 576px) {
    .footer {
        position: relative;
        top: calc(100vh - 110px);
    }
}