#chef-public-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#chef-public-info p {
    margin-right: 15px;
}

.recipes {
    color: rgb(8, 31, 207);
}

.experience {
    color: rgb(5, 163, 55);
}

.likes {
    color: rgb(198, 10, 10);
}

#food-recipe-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#food-recipe-container div {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(228, 206, 246);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    background-color: rgb(240, 231, 248);
}